{
  "presets": [
    "@babel/react",
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
    }],
    "@babel/preset-stage-0",
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
  ],
  "ignore": [
    "data/*.js",
    "node_modules/*"
  ],
  "compact": true
}
